<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="All test" verbose="10">
    <listeners>
        <listener class-name="listeners.ListenersRealzationInterface"></listener>
    </listeners>
    <test name="test1">
        <classes>
            <class name="listeners.ListenerTest"/>
        </classes>
    </test>


</suite>